*{
margin: 0 auto;
padding: 0 auto;
box-sizing: border-box;
}

#nav-content{
    background-color: rgb(158, 212, 248);
}
#ul-content{
list-style: none;
display:flex;
width: 60%;
}
#li-content{
    color: aqua;
    padding: 70px;
    text-decoration: none;
    font-size: 20px;
}